body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #37153A;
  color: white;
}

h1, h2 {
  text-align: center;
}

#selection-counter {
  text-align: center;
  font-size: 1.2rem;
  margin: 10px 0;
}

.category {
  margin: 20px auto;
  max-width: 900px;
}

/* Kategorie-Header für ein-/ausklappbare Bereiche */
.category-header {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #2f2f2f;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

.category-header:hover {
  background-color: #444444; /* Leichte Farbänderung beim Hover */
  transform: scale(1.02); /* Leichter Zoom-Effekt */
}

/* Container für Rollen */
.role-container {
  display: none; /* Standardmäßig ausgeblendet */
  padding: 10px;
  background-color: #2F1233;
  border-radius: 8px;
  transition: max-height 0.3s ease-in-out; /* Für sanftes Ein-/Ausklappen */
}

.role-container.visible {
  display: block; /* Einblenden */
}

.role-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Vier Spalten */
  gap: 1rem; /* Abstand zwischen den Rollen */
  justify-content: center;
  margin-top: 10px;
}

.role-card {
  width: 100%; /* Passt die Kartenbreite an das Grid an */
  height: 360px;
  background-color: #E9E4D8;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.role-card img {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 10px;
}

.role-card h3 {
  font-size: 1.2rem;
  margin: 5px 0;
  color: black;
}

.role-card p {
  font-size: 1rem;
  color: black;
  text-align: center;
  padding: 0 5px;
}

.covered {
  background-color: #ccc;
  background-image: url('https://mail.bloodontheclocktower.com/img/website/demon-head.png');
  background-size: 160px auto;
  background-position: center;
  background-repeat: no-repeat;
}

.covered h3,
.covered p,
.covered img {
  display: none; /* Verstecke Inhalte */
}

/* Farbliche Hervorhebung für ausgewählte Kacheln */
.role-card.selected {
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 0 15px #4CAF50;
}